/*---------Barra de Navegacion--------------*/
.navbar{
    padding: 1rem; ;

}

.btn-outline-primary {
    color:#1abc9c;
    border-color:#1abc9c;
}

.btn-outline-primary:hover{

    color: #fff;
    background-color: #1abc9c;
    border-color:#1abc9c;
}

.btn-primary{
    background-color: #1abc9c;
    border:none;
}

.btn-primary:hover{
    background-color: #16a085;
}




/*---------Seccion de Introduccion--------------*/




/*---------Seccion Nosotros --------------*/





/*---------Seccion de Caracteristicas --------------*/




/*---------Seccion de Testimonios --------------*/



/*---------Seccion de Equipo --------------*/





/*---------Seccion de Contacto --------------*/




/*---------Seccion de Footer --------------*/




/*---------Boton Volver al principio --------------*/





/*---------Media Queries --------------*/









